.navbar-nav {
            display: flex;
            gap: 80px; /* 드롭다운 사이의 간격 설정 */
            font-size: 18px;
}

.btn {
    width: 180px; /* 버튼의 너비를 150px로 설정 */
}

.filter-box {
    border: solid black 1px;
    width: 100%;
    height: 100px;
    border-color: #eceff7;
}

.filter-box-ul {
    /*border: solid black 1px;
    width: 100%;
    height: auto;  !*  줄 바꿈에 따라 높이가 자동으로 조정되도록 함 *!*/

    display: flex;
    flex-direction: row; /* 수평으로 배치 */
    flex-wrap: wrap; /* 자동 줄 바꿈 설정 */
    padding: 0; /* 내부 패딩 제거 */
}

.filter-box-ul li {
    list-style-type: none;
    color: #1219fe;
    padding: 5px 10px; /* 각 요소의 패딩 설정 */

}

.delete-button {
    color: #d2d2d3;
    border: none;
    background-color: #ffffff;
}