
.tab-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    width: 800px;
    margin: 50px auto;
}

.tab {
    width: 260px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    color: #ccc;
    border-bottom: none;
    font-size: 15px;
}

.tabs {
    width: 800px;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.tab.active {
    font-weight: bold;
    letter-spacing: 0px;
    color: black;
    border: 1px solid black;
    border-bottom: none;
}

#loginForm {
    /* border: solid 1px yellowgreen; */
    width: 550px;
    padding: 20px;
    margin: auto;
    font-size: 13px;
}

.form-row {
    display: flex;
    width: 100%;
    align-items: center;
}

.input-group {
    flex: 1;
}

.input-container {
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

.input-container label {
    width: 70px;
    text-align: left;
    font-weight: bold;
}

.input-container input {
    flex: 1;
    padding: 13px;
    border: 1px solid black;
    border-radius: 3px;
    width: 200px;
}

.form-row button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    height: 110px;
    margin-bottom: 20px;
    border-radius: 3px;
    width: 100px;
}

.link-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin: 15px 0px;
    align-items: center;
}

.register-link {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}

.google_login {
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 2px;
    text-align: center;
    /* border: solid 1px lightgray; */
}

.google_login a {
    color: gray;
    text-decoration: none;
    width: 100%;
}

.google_login a,
.login_img {
    display: flex;
}

.login_img {
    margin-top: 20px;
    background-color: #FFFFFF;
    height: 45px;
    width: 45px;
    margin-right: 65px;
}
