
.mypage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.form-group {
    margin-bottom: 15px;
    width: 425px;
    height: 40px;
    text-align: start;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

label {
    width: auto;
    padding: 5px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 30px;
}

.btn-group {
    font-size: 13px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 400px;
}

button[type="submit"] {
    padding: 7px 15px;
    background-color: #0057ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #9eec2a;
}

button.cancle-button {
    padding: 7px 15px;
    background-color: #9eec2a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

button.delete-button {
    padding: 7px 15px;
    background-color: #0057ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

button.cancle-button:hover {
    background-color: blue;
}

button.delete-button:hover {
    background-color: #9eec2a;
}
