.div_page {
    margin-top: 20px;
    text-align: center; /* 페이지네이션을 가운데 정렬 */
}

.div_page ul {
    padding: 0;
    margin: 0;
}

.div_page ul li {
    display: inline;
}

.div_page ul li a {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2; /* 배경색 설정 */
    border-radius: 3px;
}

.div_page ul li a:hover {
    background-color: #0057ff;
    color: white;
}

.div_page ul li.current-page a {
     background-color: #0057ff; /* 현재 페이지 배경색 */
     color: white; /* 현재 페이지 글자색 */
}

.button_container {
display: flex;
margin-top: 20px;
justify-content: flex-end; /* 검색 폼을 오른쪽으로 정렬 */
}

.search_button {
    background-color: #0057ff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.writebutton {
    background-color: #0057ff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px; /* 글 작성 버튼의 상단 마진 조정 */
}

.table_list {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table_list th,
.table_list td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.table_list th {
    background-color: #f2f2f2;
    text-align: left;
}

.table_list tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table_header {
    background-color: #0057ff;
    color: white;
    font-weight: bold;
}
