<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjobkorea.mapper.addJobPostingMapper">

<!-- 	getUser -> 인터페이스에있는 메소드와 이름 같이 매칭 -->

    <insert id="addpostingwrite">   
    	<selectKey keyProperty="id" order="BEFORE" resultType="int">
    		select ifnull(max(id),0)+1 from JobPosting
    	</selectKey>
    	
		  insert into JobPosting(id,companyName,postingImage,postingTitle,jobTitle,workLocation,employmentType,jobExperience,deadline,companyId) 
		  select ifnull(max(id),0)+1,#{companyName},#{postingImage},#{postingTitle},#{jobTitle},#{workLocation},#{employmentType},#{jobExperience},#{deadline},#{companyId} from JobPosting
    </insert>
    
    <update id="addpostingmodify">        
	update JobPosting set companyName=#{companyName},postingImage=#{postingImage},postingTitle=#{postingTitle},jobTitle=#{jobTitle},workLocation=#{workLocation},employmentType=#{employmentType},jobExperience=#{jobExperience},deadline=#{deadline},companyId=#{companyId} where id=#{id}
    </update>

    <delete id="addpostingdelete">        
	delete from JobPosting where id=#{id}
    </delete>
    
</mapper>