<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjobkorea.mapper.JobPostingMapper">

	<sql id="jobPostingColums">
		id
		, companyName
		, postingImage
		, postingTitle
		, jobTitle
		, workLocation
		, employmentType
		, jobExperience
		, deadline
		, hit
	</sql>


	<select id="getPostingList" resultType="JobPostingDTO">
		SELECT <include refid="jobPostingColums" /> 
		FROM TEAM_DB.JOBPOSTING WHERE DEADLINE >= CURDATE() ORDER BY DEADLINE ASC, COMPANYNAME ASC
	</select>



	<select id="getSearchList" parameterType="FilterDTO" resultType="FilterDTO">
	    SELECT *
	    FROM jobposting
	    <where>
	       
	        <if test="fullStack != null">
	            AND filters LIKE CONCAT('%', #{fullStack}, '%')
	        </if>
	
	        
	        <if test="frontEnd != null">
	            AND filters LIKE CONCAT('%', #{frontEnd}, '%')
	        </if>
	
	        <if test="backEnd != null">
	            AND filters LIKE CONCAT('%', #{backEnd}, '%')
	        </if>
	
	        <if test="seoul != null">
	            AND filters LIKE CONCAT('%', #{seoul}, '%')
	        </if>
	
	        <if test="busan != null">
	            AND filters LIKE CONCAT('%', #{busan}, '%')
	        </if>
	
	        <if test="daegu != null">
	            AND filters LIKE CONCAT('%', #{daegu}, '%')
	        </if>
	
	        <if test="incheon != null">
	            AND filters LIKE CONCAT('%', #{incheon}, '%')
	        </if>
	
	        <if test="gwangju != null">
	            AND filters LIKE CONCAT('%', #{gwangju}, '%')
	        </if>
	
	        <if test="daejeon != null">
	            AND filters LIKE CONCAT('%', #{daejeon}, '%')
	        </if>
	
	        <if test="ulsan != null">
	            AND filters LIKE CONCAT('%', #{ulsan}, '%')
	        </if>
	
	        <if test="sejong != null">
	            AND filters LIKE CONCAT('%', #{sejong}, '%')
	        </if>
	
	        <if test="largeCompany != null">
	            AND filters LIKE CONCAT('%', #{largeCompany}, '%')
	        </if>
	
	        <if test="smallMediumCompany != null ">
	            AND filters LIKE CONCAT('%', #{smallMediumCompany}, '%')
	        </if>
	
	        <if test="startup != null ">
	            AND filters LIKE CONCAT('%', #{startup}, '%')
	        </if>
	
	        <if test="regularEmployee != null">
	            AND filters LIKE CONCAT('%', #{regularEmployee}, '%')
	        </if>
	
	        <if test="contractEmployee != null ">
	            AND filters LIKE CONCAT('%', #{contractEmployee}, '%')
	        </if>
	
	        <if test="intern != null">
	            AND filters LIKE CONCAT('%', #{intern}, '%')
	        </if>
	    </where>
</select>




</mapper>

