<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jjobkorea.mapper.JobseekerBoardMapper">
    <select id="jobseekerBoardList" resultType="com.jjobkorea.dto.JobseekerBoardDTO">
        select jobseekerCommunityBoardNum
        	  ,jobseekerCommunityBoardName
        	  ,jobseekerCommunityBoardTitle
        	  ,jobseekerCommunityBoardContent
        	  ,jobseekerCommunityBoardDate
        	  ,jobseekerCommunityBoardHit 
        	  ,likes
          from jobseekerCommunityBoard
    </select>
    <insert id="jobseekerWrite">
    	<selectKey keyProperty="jobseekerCommunityBoardNum" order="BEFORE" resultType="int">
            select ifnull(max(jobseekerCommunityBoardNum),0)+1 
              from jobseekerCommunityBoard
        </selectKey>
        insert into jobseekerCommunityBoard(
            jobseekerCommunityBoardNum,
            jobseekerCommunityBoardName,
            jobseekerCommunityBoardTitle,
            jobseekerCommunityBoardContent,
            jobseekerCommunityBoardHit,
            likes
        ) 
        values (
            #{jobseekerCommunityBoardNum},
            #{jobseekerCommunityBoardName},
            #{jobseekerCommunityBoardTitle},
            #{jobseekerCommunityBoardContent},
            0,
            0
        )
    </insert>
				
    <select id="jobseekerContentView" resultType="com.jjobkorea.dto.JobseekerBoardDTO">
        select jobseekerCommunityBoardNum
        	  ,jobseekerCommunityBoardName
        	  ,jobseekerCommunityBoardTitle
        	  ,jobseekerCommunityBoardContent
        	  ,jobseekerCommunityBoardDate
        	  ,jobseekerCommunityBoardHit 
        	  ,likes
           from jobseekerCommunityBoard
       	where jobseekerCommunityBoardNum=#{jobseekerCommunityBoardNum}
    </select>
    
    <update id="jobseekerModify">
		update jobseekerCommunityBoard
		set jobseekerCommunityBoardName=#{jobseekerCommunityBoardName}
			,jobseekerCommunityBoardTitle=#{jobseekerCommunityBoardTitle}
			,jobseekerCommunityBoardContent=#{jobseekerCommunityBoardContent}
		 where jobseekerCommunityBoardNum=#{jobseekerCommunityBoardNum}
    </update>
    
    <delete id="jobseekerDelete">
		delete from jobseekerCommunityBoard
		where jobseekerCommunityBoardNum=#{jobseekerCommunityBoardNum}
    </delete>
    
<!--    조회수-->
    <update id="jobseekerHit" parameterType="int">
	    update jobseekerCommunityBoard
	    set jobseekerCommunityBoardHit = jobseekerCommunityBoardHit + 1
	    where jobseekerCommunityBoardNum = #{jobseekerCommunityBoardNum}
	</update>
	
<!-- 	좋아요 -->
  <update id="likes" parameterType="int">
        update jobseekerCommunityBoard
        set likes = likes + 1 
        where jobseekerCommunityBoardNum = #{jobseekerCommunityBoardNum}
  </update>
    
  <select id="getLikeCount" parameterType="int" resultType="int">
	    select likes
	    from jobseekerCommunityBoard 
	    where jobseekerCommunityBoardNum = #{jobseekerCommunityBoardNum}
  </select>
	
</mapper>