<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
  	<mapper namespace="com.jjobkorea.mapper.ResumeWritePageMapper">
  		<select id="getAllResumes" resultType="com.jjobkorea.dto.ResumeWritePageDTO">
			SELECT tb.memId, rw.resumePageUserId, rw.resumePageTitle, rw.resumePageWriteDate 
			FROM resume_write_page rw
			join signup_tb tb 
			where tb.memId=rw.resumePageUserId
  		</select>
  		<insert id="insertResume">
  			INSERT INTO resume_write_page(resumePageTitle, resumePageWriteDate) VALUES(#{resumePageTitle}, #{now()}))
  		</insert>
  	</mapper>