<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjobkorea.mapper.ResumeInfoMapper">


    <select id="findByUserId" resultType="com.jjobkorea.dto.ResumeInfoDTO">
        SELECT id, resumePageTitle, resumeUserName, resumeBirthDay, resumeGender, resumeUserEmail, resumeUserPhone, resumeUserCellPhone, resumeUserAddress, 
            resumeProfilePhoto, resumeSkillName, resumePortfolio, resumePageUserId, resumeEduStage, 
            resumeSchoolName, resumeCpName, resumeCpDept, resumeCpJoinDate, resumeCpLeaveDate, 
            resumeCpPosition, resumeCpDuty, resumeCpSalary, resumeIntroduce FROM resume_user_information WHERE resumePageUserId = #{userId}
    </select>
    
    <select id="findByIdAndUserId" parameterType="hashMap" resultType="com.jjobkorea.dto.ResumeInfoDTO">
        SELECT id, resumePageTitle, resumeUserName, resumeBirthDay, resumeGender, resumeUserEmail, resumeUserPhone, resumeUserCellPhone, resumeUserAddress, 
            resumeProfilePhoto, resumeSkillName, resumePortfolio, resumePageUserId, resumeEduStage, 
            resumeSchoolName, resumeCpName, resumeCpDept, resumeCpJoinDate, resumeCpLeaveDate, 
            resumeCpPosition, resumeCpDuty, resumeCpSalary, resumeIntroduce FROM resume_user_information WHERE id = #{arg0} AND resumePageUserId = #{arg1}
    </select>
    
	<select id = "findPhotoByUserID" resultType="String" parameterType="Long">
		select resumeProfilePhoto
		from resume_user_information
		where id = #{resumeId} 
	</select>
	
    <insert id="insert" parameterType="com.jjobkorea.dto.ResumeInfoDTO">
        INSERT INTO resume_user_information (
            resumePageTitle, resumeUserName, resumeBirthDay, resumeGender, resumeUserEmail, resumeUserPhone, resumeUserCellPhone, resumeUserAddress, 
            resumeProfilePhoto, resumeSkillName, resumePortfolio, resumePageUserId, resumeEduStage, 
            resumeSchoolName, resumeCpName, resumeCpDept, resumeCpJoinDate, resumeCpLeaveDate, 
            resumeCpPosition, resumeCpDuty, resumeCpSalary, resumeIntroduce
        )
        VALUES (
            #{resumePageTitle}, #{resumeUserName}, #{resumeBirthDay}, #{resumeGender}, #{resumeUserEmail}, #{resumeUserPhone}, #{resumeUserCellPhone},
            #{resumeUserAddress}, #{resumeFilePath}, #{resumeSkillName}, #{resumePortfolio}, #{resumePageUserId}, #{resumeEduStage},
            #{resumeSchoolName}, #{resumeCpName}, #{resumeCpDept}, #{resumeCpJoinDate}, #{resumeCpLeaveDate}, 
            #{resumeCpPosition}, #{resumeCpDuty}, #{resumeCpSalary}, #{resumeIntroduce}
        )
    </insert>

    <update id="update" parameterType="com.jjobkorea.dto.ResumeInfoDTO">
        UPDATE resume_user_information
        SET resumePageTitle = #{resumePageTitle},
            resumeUserName = #{resumeUserName},
            resumeBirthDay = #{resumeBirthDay},
            resumeGender = #{resumeGender},
            resumeUserEmail = #{resumeUserEmail},
            resumeUserPhone = #{resumeUserPhone},
            resumeUserCellPhone = #{resumeUserCellPhone},
            resumeUserAddress = #{resumeUserAddress},
            resumeProfilePhoto = #{resumeFilePath},
            resumeSkillName = #{resumeSkillName},
            resumePortfolio = #{resumePortfolio},
            resumeEduStage = #{resumeEduStage},
            resumeSchoolName = #{resumeSchoolName},
            resumeCpName = #{resumeCpName},
            resumeCpDept = #{resumeCpDept},
            resumeCpJoinDate = #{resumeCpJoinDate},
            resumeCpLeaveDate = #{resumeCpLeaveDate},
            resumeCpPosition = #{resumeCpPosition},
            resumeCpDuty = #{resumeCpDuty},
            resumeCpSalary = #{resumeCpSalary},
            resumeIntroduce = #{resumeIntroduce}
        WHERE id = #{id} AND resumePageUserId = #{resumePageUserId}
    </update>
	<delete id="delete" parameterType="com.jjobkorea.dto.ResumeInfoDTO">
		DELETE FROM resume_user_information
		WHERE id = #{arg0} AND resumePageUserId = #{arg1}
	</delete>
</mapper>
