sidebar{
    position: absolute;
    display: flex;
    left: 200px;
    margin-top: -2.5%;
    width: 200px;
    height: 200px;
    background-color: #fff;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
sidebar .L-sidebar{
    position: absolute;
    margin: 0 auto;
    padding: 0 auto;
    font-size: 15px;
}
sidebar .L-sidebar h3{
    text-align: center;
}
sidebar .L-sidebar .underbar-line{
    border-bottom: 1px solid #444444;
    width: 200px;
    margin: 10px 0px;
}
sidebar .L-sidebar a{
    text-align: left;
    font-size: 13px;
    margin: 50px;
    text-decoration-line: none;
}
sidebar .L-sidebar a:hover{
    text-decoration: underline;
}

sidebar .L-sidebar li{
    list-style-type: none;
}