.container2{
    display: grid;
    grid-template-rows: repeat(3, 300px);
    grid-template-columns: repeat(5, 1fr);
    background-color: #d6d6d6;
    grid-template-areas: 
    "Lsidebar center center center Rsidebar"
    " . center center center ."
     " . center center center ."
    "footer2 footer2 footer2 footer2 footer2";
}

.L-sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: Lsidebar;
    background-color: white;
    border: 1px solid #444444;
}
.R-sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: Rsidebar;
    background-color: white;
    border: 1px solid #444444;
}
.center {
    grid-area: center;
    position: relative; 
    background-color: white;
    border: 1px solid #444444;
}

.resume_mng, .file_mng {
    position: absolute;
    font-size: 30px;
}

.resume_mng {
    top: 50px;
    left: 20px; /* Adjust as needed */
    text-decoration-line: none;
}
.file_mng {
    top: 50px;
    left: 200px; /* Adjust as needed */
    text-decoration-line: none;
}
.resume{
     position: absolute;
     top: 50px;
     margin-left: 600px;
     width: 100px;
     height: 50px;
    border-radius: 10px;
    background-color: #3A66FF;
}
#rsjoin{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style-type: none;
    font-size: 13px;
    padding: 15px;
    color: #fff;
    text-decoration: none;
}
.resumesave{
    position: absolute;
    top: 300px;
    grid-column: 2 / 5;
    grid-row: 2;
    background-color: #d6d6d6;
    width: 100%;
}
.resumetitle{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-left: 220px;
}
.img{
    position: absolute;
    top:160px;
    width: 100%;
}
.under-line{
    position: absolute;
    text-decoration-line: underline;
    top:295px;
    border-bottom: 20px solid #444444;
    width: 100%;
}
.resume_footer{
    display: flex;
    grid-column: 2 / 5;
    grid-row: 3;
    height: 40px;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 12px;
    z-index: 1;
    background-color: #d6d6d6;
    border: 1px solid #444444;
}
li{
    list-style-type: none;
}