* {
    margin: 0;
    padding: 0;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E6E6E6;
    color: #333;
}
header {
    grid-area: header;
    width: 100%;
    height: 250px; /* 배너 높이는 필요에 따라 조절하세요 */
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* 필요에 따라 조절하세요 */
    padding: 0 20px;
}
.head-nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.head-nav ul li {
    margin-right: 15px;
    font-size: 15px;
}

.head-nav ul li:hover {
    text-decoration: underline;
}

.head-nav ul a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

header .head-nav img {
    filter: invert(100%) sepia(1%) saturate(2539%) hue-rotate(314deg) brightness(115%) contrast(80%);
    margin-top: 3.8px;
    height: 16px;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
}

header .logo img {
    margin-left: 850px;
    height: 200px;
}

.main-container {
    display: grid;
    grid-template-areas: 
        "header header header"
        "sidebar-left content sidebar-right"
        "footer footer footer";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    width: 100%;
}

.sidebar-left {
    grid-area: sidebar-left;
    background-color: #f4f4f4;
}

.sidebar-right {
    grid-area: sidebar-right;
    background-color: #f4f4f4;
}

.content {
    grid-area: content;
    background-color: #fff;
}

footer {
    grid-area: footer;
    background-color: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
